@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  /*
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*/
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  overflow: hidden;
  min-width: 100%;
}

.pagebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: url(../img/page_3/fone_3.png) right/cover no-repeat, linear-gradient(70deg, #cd4381, #e97759);
}

main {
  width: 30.8vw;
  height: 86vh;
  margin: 59px auto 0px;
}

.allbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-height: 586px) {
  .allbody .allbody__footer {
    margin-top: 18px;
  }
}

@media (max-width: 490px) {
  .allbody .allbody__footer a {
    display: table;
    margin: 2px auto;
  }
  .allbody .allbody__content {
    max-width: 412px;
  }
  .allbody .btn {
    width: 332px;
  }
}

@media (max-width: 482px) {
  .allbody .allbody__content {
    max-width: 404px;
  }
}

@media (max-width: 474px) {
  .allbody .allbody__content {
    max-width: 396px;
  }
  .allbody .btn {
    width: 324px;
  }
}

@media (max-width: 466px) {
  .allbody .allbody__content {
    max-width: 388px;
  }
  .allbody .btn {
    width: 316px;
  }
}

@media (max-width: 458px) {
  .allbody .allbody__content {
    max-width: 380px;
  }
  .allbody .btn {
    width: 308px;
  }
}

@media (max-width: 450px) {
  .allbody .allbody__content {
    max-width: 372px;
  }
  .allbody .btn {
    width: 300px;
  }
}

@media (max-width: 442px) {
  .allbody .allbody__content {
    max-width: 364px;
  }
  .allbody .btn {
    width: 292px;
  }
}

@media (max-width: 434px) {
  .allbody .allbody__content {
    max-width: 356px;
  }
  .allbody .btn {
    width: 284px;
  }
}

@media (max-width: 426px) {
  .allbody .allbody__content {
    max-width: 348px;
  }
  .allbody .btn {
    width: 276px;
  }
}

@media (max-width: 417px) {
  .allbody .allbody__content {
    max-width: 339px;
  }
  .allbody .btn {
    width: 267px;
  }
}

@media (max-width: 408px) {
  .allbody .allbody__content {
    max-width: 330px;
  }
  .allbody .btn {
    width: 258px;
  }
}

@media (max-width: 399px) {
  .allbody .allbody__content {
    max-width: 321px;
  }
  .allbody .btn {
    width: 249px;
  }
}

@media (max-width: 389px) {
  .allbody .allbody__content {
    max-width: 311px;
  }
  .allbody .btn {
    width: 239px;
  }
}

.allbody__title {
  text-align: center;
  font-size: 15px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.allbody__content {
  max-width: 420px;
  max-height: 510px;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 50px 50px 39px;
}

.allbody__content-title {
  text-align: center;
  font-size: 28px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-shadow: 0px 13px 27px rgba(0, 0, 0, 0.15);
  color: #444444;
  margin-bottom: 8px;
}

.allbody__content-text {
  font-size: 12.7px;
  line-height: 42px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #888888;
}

.allbody__content-link::after {
  display: block;
  content: "";
  color: #ffffff;
  width: 104px;
  height: 2px;
  background-color: rgba(34, 34, 34, 0.25);
  visibility: hidden;
  position: absolute;
  right: 0px;
  bottom: 11px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.allbody__content-link:hover::after {
  visibility: visible;
}

.allbody__footer {
  text-align: center;
  font-size: 12.7px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.allbody__footer::before {
  display: block;
  content: "";
  width: 400px;
  height: 2px;
  margin-top: 2.3em;
  margin-bottom: 1.1em;
  background-color: rgba(255, 255, 255, 0.25);
}

.allbody__footer-text {
  color: #ffffff70;
}

.allbody__footer-link {
  color: #ffffff;
  position: relative;
}

.allbody__footer-link::after {
  display: block;
  content: "";
  color: #ffffff;
  width: 61px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  position: absolute;
  right: 0px;
  bottom: -5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.allbody__footer-link:hover {
  color: #ffffff;
}

.allbody__footer-link:hover::after {
  visibility: visible;
}

.mb-3 {
  margin-left: 12px;
  margin-bottom: 0.5rem !important;
}

.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #444444;
  font-weight: 600;
  border-bottom: 2px solid #f4327f;
  background-color: #f2f2f2;
}

.form-control {
  background-color: #f2f2f2;
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: 12.7px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #bbbbbb;
}

.form-check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5em;
  margin-top: 1.5px;
}

.form-check-input {
  margin-top: 1.625em;
  margin-bottom: 2.0625em;
  width: 24px;
  height: 23px;
  border-radius: 6px;
}

.form-check .form-check-input:checked {
  width: 24px;
  height: 23px;
  background-color: #f4327f;
  border: none;
  border-radius: 6px;
}

.form-check-input:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 6px;
  border: 1px solid #f4327f;
}

.form-check-label {
  margin-left: 18px;
  font-size: 12.7px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #444444;
  margin-top: -5px;
  position: relative;
}

.form-check-label a {
  font-size: 12.7px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #222222;
}

.btn {
  margin-left: -10px;
  font-size: 12.7px;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #ffffff;
  width: 340px;
  height: 47px;
  background-color: #e9486d;
  background-image: linear-gradient(3deg, rgba(210, 48, 120, 0.49) 12%, rgba(210, 48, 120, 0.49) 10%, rgba(254, 97, 97, 0.49) 70%, rgba(255, 121, 85, 0.49) 87%);
  -webkit-box-shadow: 0px 10px 27px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 27px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23.400000000000002px;
}

.btn:hover {
  background-color: #f7c1c7;
  color: #ffffff;
}

.btn:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0px;
}
